body 
{
    background-image: url("imgs/background.jpg");
    background-size: 1920px 1080px;
    color: white;
    font-family: 'Arvo', serif;
    margin: 0px;
}
.center 
{
    display: grid;
    justify-content: center;
    align-items: center;
    margin: auto;
    background: rgba(0,0,0, 0.4);
    padding: 30px;
    position: relative;
    top: 150px;
    border-radius: 20px;
}
ul 
{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
h1 {
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
li 
{
    font-size: 20px;
    transition: font-size 0.2s;
    text-align: center;
    padding: 5px;
}
li:hover
{
    font-size: 25px;
}
a
{  
    color: white;
    background-color: transparent;
    text-decoration: none;
}
